html{
    font-size: 10px;
}
@media screen and (max-width:576px) {
    html{
        font-size: 7px;
    }
}
/* Nav bar css */


@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-direction: row-reverse;
}
}
@media (max-width: 576rem){
    .navbar-nav>li{
        margin-left: 0rem;
    }
}
.nav-item>a{
    color:#2d3950;
    font-weight: 600;
    font-size: 1.6rem;
}
.nav-item>a:hover{
    color: #15a4fa;
    transform: scale(1.5);
    transition: .3s;
}
.navbar-nav>li{
    margin-left: 3rem;
}
/* header  */
.header{
    background: url(./img/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-content>span{
    font-size: 10rem;
    color: white;
}
.h-content>hr{
    width: 50%;
    margin: 0px auto;
    border: .2rem solid #15a4fa;
}
.h-content>button{
    margin-top: 2rem;
    background: transparent;
    padding: 1rem 1.5rem;
    border: 2px solid #15a4fa;
    color: white;
    border-radius: .5rem;
    transition: .3s;
    font-size: 1.6rem;
}
.h-content>button:hover{
    background-color: #15a4fa;
    transition: .3s;
}
.h-content>p{
    color: white;
    font-size: 1.6rem;
}

/* simple  */
.simple-content{
    padding: 5rem 0rem;
}
.simple-content>h1{
    font-size: 4rem;
}
.simple-content>p{
    color: #999999;
    font-size: 1.6rem;
}
.simple{
    background-color: #f6f9f9;
}
@media screen and (max-width:576px) {
    .card-m{
        margin-bottom: 2rem !important;
    }
    
}


/* card part */
.card-content>h4{
    font-size: 2.2rem;
}
.card-content>p{
    font-size: 1.6rem;
}

/* Show work part css */
.work{
    background-color: #f6f9f9;
}
.w-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding-bottom: 10rem;
    
}
@media screen and (max-width:576px) {
    .w-grid{
        grid-template-columns: repeat(2,1fr);

    }
}
.w-grid .w-box>img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}
.w-grid .w-box{
    position: relative;
    overflow: hidden;
}

.w-content{
    position: absolute;
    background-color: #29a9f5a6;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all linear .2s;
}
.w-grid .w-box:hover .w-content{
    transform: translateX(0%);
    transition: all linear .5s;
}
.w-i-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-i-flex .w-icon-1,
.w-i-flex .w-icon-2{
        height: 3rem;
        width: 3rem;
        
        border: .2rem solid white;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
}
.w-i-flex .w-icon-2{
    margin-left: 2rem;
}


/* stay part start */
.stay{
    background: linear-gradient(#4c5e80b7, #4c5e80fa), url(./img/s-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.stay-content{
    color: white;
}
.stay-content>h2{
    font-size: 4rem;
}
.stay-content>p{
    font-size: 1.6rem;
}
form>:nth-of-type(1),
form>:nth-of-type(2),
form>:nth-of-type(3)
{
    width: 50%;
    padding: 1rem 1.5rem;
    margin: .8rem 0rem;
    background: transparent;
    color: white;
    border: .2rem solid #999999;
    border-radius: .5rem;
    font-size: 1.6rem;
}

.text-input{
    min-height: 20rem;
    resize: none;
}
.custom-container{
    width: 50%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.check-box>span{
    color: white;
    font-size: 1.6rem;
}
.s-btn{
    background: transparent;
    padding: 1rem 1.5rem;
    border: .2rem solid #15a4fa;
    border-radius: .5rem;
    transition: .3s;
    color: white;
    font-size: 1.6rem;
}
.s-btn:hover{
    background: #15a4fa;
    transition: .3s;
}

/* footer */

.f-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;padding: 2rem 0px;
}

.f-i-flex{
    display: flex;
    align-items: center;
}
.f-text>small{
    font-size: 1.2rem;
}
.f-i-flex>.f-i{
    margin-left: .5rem;
    height: 4rem;
    width: 4rem;
    border-radius: .5rem;
    background-color: #15a4fa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-i>i{
    color: white;
    font-size: 1.6rem;
}

